# Database configuration
spring.datasource.url=jdbc:mariadb://host:port/databaseName
spring.datasource.username=username
spring.datasource.password=password
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver

# Flyway configuration (should be the same as the database configuration)
spring.flyway.url=jdbc:mariadb://host:port/databaseName
spring.flyway.user=username
spring.flyway.password=password
spring.flyway.schemas=databaseName

# SMTP server configuration (for emails)
spring.mail.host=smtp.host.com
spring.mail.port=587
spring.mail.username=user@test.com
spring.mail.password=password

# Root user configuration
application.root-user.first-name=firstname
application.root-user.last-name=lastname
application.root-user.email=email@example.com
application.root-user.password=password