SPRING_DATASOURCE_URL=jdbc:mariadb://db:3306/ontdekstation013
SPRING_DATASOURCE_USERNAME=db_username
SPRING_DATASOURCE_PASSWORD=db_password

MAILSERVER_RELAY_HOST=smtp.ontdekstation013.nl
MAILSERVER_RELAY_PORT=587
MAILSERVER_RELAY_USER=mailserver_user
MAILSERVER_RELAY_PASSWORD=mailserver_password

MAIL_USERNAME=mail@example.com
MAIL_PASSWORD=mail_password

ROOT_USER_FIRSTNAME=root_firstname
ROOT_USER_LASTNAME=root_lastname
ROOT_USER_EMAIL=root@example.com
ROOT_USER_PASSWORD=root_password

VITE_BACKEND_API_URL=http://localhost:8082/api